/* Slider Style */

.long{
    height: fit-content;
}
.banner-text{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.bannersm-text{
   text-align: center;
}
.bannermd-text{
    bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
.banner-text h1{
    font-size: 100px;
}

/* Course Style  */

.center{
    text-align: center;
}
.look{
    margin: 20px;
}
.edu-col{
    background-color: rgb(181, 224, 241);
    height: fit-content;
    margin: 3rem;
}
.edu-hi{
        height: fit-content;
}