/* Slider Style */

.long{
    height: fit-content;
}
.banner-text{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.bannersm-text{
   text-align: center;
}
.bannermd-text{
    bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
.banner-text h1{
    font-size: 100px;
}

/* Course Style  */

.center{
    text-align: center;
}
.look{
    margin: 20px;
}
.edu-col{
    background-color: rgb(181, 224, 241);
    height: fit-content;
    margin: 3rem;
}
.edu-hi{
        height: fit-content;
}

/* Footter */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.middle-man{
    text-align: center;
}
footer h1{
    color: white;
}
footer p{
    color: white;
}
footer small{
    color: white;
}
footer{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: #333;
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}